{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block head %}
    <script type="text/javascript">
        const getGraph = () => {
            $.ajax({
                url: "{{ url_for('entries.graph') }}",
                type: 'GET',
                data: {
                    time_period: $('#timePeriod').find(":selected").val(), 
                    group_by: $('#groupBy').find(":selected").val()
                },
                success: function(response) {
                    $('#graph').html(response); // Insert the HTML content
                },
            });
        };

        $(document).ready(() => {
            getGraph()
            $('#timePeriod').change(getGraph)
            $('#groupBy').change(getGraph)
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    <form action="{{ url_for('entries.create') }}" method="POST">
        <label for="weight">weight</label>
        <input id="weight" name="weight" type="number" step=".1" required>
        <label for="entryDate">date</label>
        <input id="entryDate" name="entryDate" type="date" value="{{ entry_date }}" required>
        <input type="submit" value="Add entry">
    </form>

    <div>
        <label for="timePeriod">Time Period</label>
        <select id="timePeriod">
            <option value="a">All</option>
            <option value="w">Week</option>
            <option value="m">Month</option>
            <option value="q">3 Months</option>
            <option value="h">6 Months</option>
            <option value="y">Year</option>
        </select>

        <label for="groupBy">Group By</label>
        <select id="groupBy">
            <option value="d">None</option>
            <option value="w">Week</option>
            <option value="m">Month</option>
            <option value="y">Year</option>
        </select>
    </div>

    

    <div id="graph"></div>
{% endblock %}