{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block head %}
    <script type="text/javascript">
        const getGraph = () => {
            $ajax({
                url: '/graph',
                method: 'GET',
                success: function(response) {
                    alert(1)
                    $('#graph').html(response); // Insert the HTML content
                },
            });
        };

        $(document).ready(() => {
            getGraph()
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    <form action="{{ url_for('entries.create') }}" method="POST">
        <label for="weight">weight</label>
        <input id="weight" name="weight" type="number" step=".1" required>
        <label for="entryDate">date</label>
        <input id="entryDate" name="entryDate" type="date" value="{{ entry_date }}" required>
        <input type="submit" value="Add entry">
    </form>

    <div id="graph"></div>
{% endblock %}