

<script type="text/javascript">
</script>


<div class="graph">
    <!-- {% for entry in entries %}
        <div style="margin-top: 40px;">
            <label for="id">id</label>
            <span style="color: brown;">{{ entry['id'] }}</span>
            <label for="weight">weight</label>
            <span style="color: brown;">{{ entry['weight'] }}</span>
            <label for="entryDate">date</label>
            <span style="color: brown;">{{ entry['entry_date'] }}</span>
        </div>
    {% endfor %} -->
    

    <span style="color: gold;">{{today }}</span>

    {% for entry in entries %}
        <div style="margin-top: 40px;">
            <label for="id">{{ entry.keys()[0] }}</label>
            <span style="color: brown;">{{ entry[entry.keys()[0]] }}</span>
            <label for="weight">{{ entry.keys()[1] }}</label>
            <span style="color: brown;">{{ entry[entry.keys()[1]] }}</span>
        </div>
    {% endfor %}
</div>
