<!doctype html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- local jQuery -->
    <script src="{{ url_for('static', filename='src/js/jquery-3.7.1.min.js') }}" type="text/javascript"></script>
    <!-- web assets -->
    {% assets "common_style_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
    <!-- block for additional head content -->
    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <ul>
            <a class="navbar-logo">Company</a>
        </ul>
        <ul>
            {% if g.user %}
            <!-- Logged in -->
            <a href="{{ url_for('auth.logout') }}" class="btn-tranperent">Logout</a>
            {% else %}
            <!-- Guest -->
            <a href="{{ url_for('auth.login') }}" class="btn-tranperent">Login</a>
            <a href="{{ url_for('auth.register') }}" class="btn-primery">Register</a>
            {% endif %}
        </ul>
    </nav>

    <div class="alerts">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>

    {% block content %}{% endblock %}
</body>

